<!-- PATH: src/app\components\selection-footer\selection-footer.component.html -->
<div class="selection-footer" [class.visible]="isVisible">
  <div class="selection-info">
    <span class="count">{{ selectedCount }} icon(s) selected</span>
    <span class="hint" *ngIf="selectedCount > 0">
      {{ getSelectionHint() }}
    </span>
  </div>
  
  <div class="selection-actions">
    <button mat-button class="clear-btn" (click)="onClearSelection()">
      <mat-icon>close</mat-icon>
      Clear ({{ selectedCount }})
    </button>
    
    <button mat-raised-button class="add-btn" (click)="onActionClick()">
      <mat-icon>{{ getButtonIcon() }}</mat-icon>
      {{ getButtonText() }}
    </button>
  </div>
</div>


